projects/obj
projects/Logs
projects/Temp
projects/Debug
projects/Library
projects/ProjectSettings/*.asset
projects/*.sln
projects/*.csproj
projects/.vscode
projects/TsEditorProject/output
projects/TsEditorProject/node_modules
projects/TsEditorProject/yarn.lock
projects/TsProject/output
projects/TsProject/output-obfuscated
projects/TsProject/node_modules
projects/TsProject/yarn.lock
