projects/obj
projects/Logs
projects/Temp
projects/Debug
projects/Build
projects/Library
projects/ProjectSettings/*.asset
projects/*.sln
projects/*.csproj
projects/.vscode
projects/TsEditorProject/output
projects/TsEditorProject/node_modules
projects/TsEditorProject/yarn.lock
projects/TsProject/output
projects/TsProject/output-obfuscated
projects/TsProject/node_modules
projects/TsProject/yarn.lock
projects/Assets/XOR-Publish.meta
projects/Assets/XOR-Publish/**
projects/Assets/Gen/AutoStaticCodeInterfaceBridge.cs
projects/Assets/Gen/AutoStaticCodeInterfaceBridge.cs.meta
projects/Assets/Gen/AutoStaticCodeRegister.cs
projects/Assets/Gen/AutoStaticCodeRegister.cs.meta
projects/Assets/Gen/*_Wrap.cs
projects/Assets/Gen/*_Wrap.cs.meta
